body {
  background: #f8f8f8;
  margin: 0;
}

.nav-icon svg {
  border-radius: 15px;
  border: 1px solid rgb(216 216 216);
  padding: 10px;
  font-size: 35px;
  color: #eb8154;
  background: white;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.nav-list li {
  text-align: center;
  list-style: none;
}

p.icon-title {
  padding: 0;
  margin: 0;
  color: gray;
}
