.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  position: sticky;
}

.logo {
  width: 15%;
  padding: 18px;
}
.login-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 15px;
  font-size: 20px;
}
.profile-logo {
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid;
}

.login {
  color: brown;
}
